body {
    font: 20px Arial, Sans-serif
}
.navbar {
    background-color: #3498db;
}

.quem-somos {
    background-color: #CEE0DC;
}

.margin {
    padding-top: 20px;/*padding, cria uma margem interna*/
    padding-bottom: 50px;

}

.parceiros{
    background-color: #58B2FA;
}
.bg-footer {
    background-color: #2F4858;
    color: white;
    

}

